setuptools>=40.8.0
wheel
numpy<=1.21
Cython
requests>=2.23.0
tqdm>=4.43.0
scipy>=1.5.2
Cython>=0.29.21
dill>=0.3.1.1
scikit-learn
seaborn>=0.11.0
pandas
dask
treelite>=0.93
treelite-runtime>=0.93
pyDOE>=0.3.8
scikit-optimize>=0.8.1
emcee>=3.0.2
pyspark>=2.4.3
koalas
hyperopt>=0.2.5
lightgbm
pytest>=5.0.0
pytest-cov>=2.6.0
pylama>=7.6.5
docutils==0.16.0
tox
tox-wheel
xgboost>=0.90
lightgbm
pytest>=5.0.0
pytest-cov